SUPABASE_POSTGRES_EXPORTER_DSN=postgresql://postgres.REF:PASS@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?sslmode=require
OTEL_ENABLED=true
OTEL_SERVICE_NAME=employee-onboarding-api
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
LOG_FILE_PATH=logs/nestjs/app.log
LOG_LEVEL=info
